@charset "UTF-8";



/* 결재 메인 페이지 아래쪽 행 */
#row2{
	padding-top: 150px;
}

/* 결재문서작성form 파일 첨부 */
div.form-group.uploadDiv{
	padding-top: 10px;
}

/* 결재선 버튼 */
#aprLineBtn {
	margin-top: 10px;
}

/* 결재 처리 버튼 */
#aprHandleBtn{
	margin-top: 10px;	
}

/* 내가 작성한 결재 목록 리스트*/
div#row2.col-sm{
	padding-top: 0;
}

/* 결재가 필요한 문서 링크 */
#mainAprList {
	text-decoration: none;
}