@charset "EUC-KR";

#mainTable {
	width: 80%;
}

#memoTable {
	width: 20%;
}

.dayOfWeek td {
	width: 14%;
	text-align: center;
	font-weight: bold;
}

.eachSch {
	color: darkblue;
}

.prevDay, .nextDay {
	color: darkgray;
}

tr[class^=week] {
	text-align: right;
}

.pagination {
	width: 175px;
	margin: 0 auto;
	text-align: center;
}

.dropdown {
	text-align: right;
}

.refDate {
	width: 108px;
}

#memoTable {
	vertical-align: top;
	text-align: left;
	padding: 20px;
}

.timeline {
	list-style: none;
}

.table-responsive {
	border-top: none;
}
