@charset "EUC-KR";

.table {
	margin: 0 auto;
	width: 80%;
}

.no {
	width: 15%;
}

.title {
	width: 50%;
}

.writer {
	width: 20%;
}

.hasFile {
	width: 15%
}

#searchForm {
	width: 200px;
}

#searchButton {
	width: 70px !important;
}

.d-flex {
	float: right;
}

.dropdown {
	float: left;
}

.confirm {
	float: right;
}

.newContainer {
	width: 750px;
	margin: 0 auto;
	padding-top: 30px;
}

