<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.ApprovalMapper">

	<!-- 결재 -->
	<select id="getList" resultType="org.shiftworks.domain.ApprovalVO">
		<![CDATA[
			select*from approval where apr_id>0	
		]]>	
	</select>
	
	<insert id="insert">
		insert into approval (apr_id, af_id, emp_id, apr_date, apr_title, apr_content, apr_check,
			apr_status) 
		values(approval_seq.nextval,#{af_id},#{emp_id,jdbcType=VARCHAR},sysdate,#{apr_title},#{apr_content},#{apr_check},#{apr_status})
	</insert>
	
	<select id="read" resultType="org.shiftworks.domain.ApprovalVO">
		select * from approval where apr_id = #{apr_id}
	</select>
	
	<update id="update">
		update approval
		set apr_check = #{apr_check},
		apr_status = #{apr_status}
		where apr_id = #{apr_id}
	</update>
	

</mapper>
