<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.ApprovalMapper">

	<!-- 결재 생성, 읽기, 상태 변경(C,R,U) -->
	<select id="getList" resultType="org.shiftworks.domain.ApprovalVO">
		<![CDATA[
			select*from approval where apr_id>0	
		]]>	
	</select>
	
	<insert id="insert">
		insert into approval (apr_id, af_id, emp_id, apr_receivedate, apr_title, apr_content,
			apr_status,apr_comment, apr_signdate) 
		values(approval_seq.nextval,#{af_id},#{emp_id},sysdate
		,#{apr_title},#{apr_content},'0',#{apr_comment},sysdate)
	</insert>
	
	<select id="read" resultType="org.shiftworks.domain.ApprovalVO">
		select * from approval where apr_id = #{apr_id}
	</select>
	
	
	<select id ="getListWithPaging" resultType="org.shiftworks.domain.ApprovalVO">
		<![CDATA[
			select
				apr_id, af_id, emp_id, apr_receivedate, apr_title, apr_content,
				apr_status, apr_comment, apr_signdate
			from
			(
			select /*+INDEX_DESC(approval approval_pk) */
				rownum rn, apr_id, af_id, emp_id, apr_receivedate, apr_title, apr_content,
				apr_status, apr_comment, apr_signdate
			from
				approval
			where rownum <= #{pageNum} * #{amount}	
			)
			where rn > (#{pageNum} -1) * #{amount}
		]]>	
	</select> 
	
	
	<update id="update">
		update approval
		set apr_status = #{apr_status},
		apr_comment = #{apr_comment},
		apr_signdate = sysdate
		where apr_id = #{apr_id}
	</update>
	
	<!-- 결재 처리(반려, 승인) -->
	<update id="updateStatus">
		update approval 
		set apr_status = #{status}
		where apr_id = #{apr_id}
	</update>
	
	<!-- 전체 페이지 조회 -->
	<select id="getTotal" resultType="int">
		select count(*) from approval
	</select>

</mapper>
