<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.BookingMapper">

	<select id="getBookingList" resultType="org.shiftworks.domain.BookingVO">
		select * from rsc_booking where book_date =#{book_date}
	</select>
	
	<insert id="insertBooking" parameterType="org.shiftworks.domain.BookingVO"> 
		insert into rsc_booking (book_id, rsc_id, emp_id, dept_id, book_date, book_begin, book_end, book_title, book_content)
		values 
		(#{book_id}, #{rsc_id}, #{emp_id}, #{dept_id}, #{book_date}, #{book_begin}, #{book_begin}+2, #{book_title}, #{book_content})
	</insert>
	
	<select id="getBooking" parameterType="int" resultType="org.shiftworks.domain.BookingVO">
		select * from rsc_booking where book_id = #{book_id}
	</select>
	
	<select id="getList" resultType="org.shiftworks.domain.BookingVO">
		select * from rsc_booking
	</select>
	
	<select id="getMyList" parameterType="String" resultType="org.shiftworks.domain.BookingVO">
		select * from rsc_booking where emp_id = #{emp_id}
	</select>
	
 	<delete id="deleteBooking" parameterType="int">
		delete from rsc_booking where book_id = #{book_id}
	</delete>
	
</mapper>
