<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.ChatRoomUserMapper">
	
	<!-- 메시지 수신자 관련 -->
	<select id="getList" parameterType="int" resultType="org.shiftworks.domain.ChatRoomUserVO">
		SELECT * FROM chatroom_user WHERE room_id = #{room_id}
	</select>
		
	<!-- 수신자 저장 : 메시지 전송시 수신자도 저장 -->
	<insert id="insertChatRoomUser" parameterType="org.shiftworks.domain.ChatRoomUserVO">
		INSERT INTO chatroom_user(room_id, emp_id, dept_id) 
		VALUES(#{room_id}, #{emp_id}, #{dept_id})
	</insert>
	
	<!-- 읽음으로 변경 -->
	<delete id="deleteChatRoomUser" parameterType="String">
		DELETE FROM chatroom_user
           WHERE emp_id = #{emp_id}
	</delete>
	
</mapper>
