<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.ChatMapper">

	<!-- Message 관련 기능 -->
	<!-- 메시지 저장 -->
	<insert id="insertChat"
		parameterType="org.shiftworks.domain.ChatVO">
		INSERT INTO chat(chat_id, content,
		sendtime, sender, room_id)
		VALUES(chat_seq.nextval, #{content}, #{sendtime}, #{sender}, #{room_id})
	</insert>

	<!-- 모든 메시지 검색 -->
	<select id="getList" resultType="org.shiftworks.domain.ChatVO">
		SELECT *
			FROM chat
			ORDER BY sendtime desc
	</select>

</mapper>
