<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.DocumentMapper">
	
	<!--내 게시물 리스트 조회-->
	<select id="getListMyDocWithPagingSearch" resultType="org.shiftworks.domain.PostVO">
		<![CDATA[
			select post_id, b_id, dept_id, post_name, post_content, emp_id,
				post_regno, post_regdate, post_updatedate, post_fix, post_receivedept, name
			from
				( select /*+INDEX_DESC(post post_pk) */
				  rownum rn, p.post_id as post_id, b_id, p.dept_id as dept_id, post_name, post_content, p.emp_id as emp_id,
				  post_regno, post_regdate, post_updatedate, post_fix, post_receivedept, e.name as name
				from post p JOIN employee e
				ON e.emp_id =p.emp_id 
				where
		]]>
			
		 <trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item='type' collection="typeArr" >
				<trim prefix="OR">
					<choose>
						<when test="type =='T'.toString()">
							post_name like '%'||#{keyword}||'%'
						</when>
						<when test="type =='C'.toString()">
							 post_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
	</trim> 
				
		<![CDATA[		
				rownum <=#{pageNum}*#{amount}
				and e.emp_id =#{emp_id}
				)
			where rn >(#{pageNum}-1)*#{amount}
			order by post_id desc
		]]>
		
	</select> 
	
	<!--내 게시물 상세보기-->
	<select id="getMyDocument" resultType="org.shiftworks.domain.PostVO">
		select * from Post where emp_id = #{emp_id} and post_id = #{post_id}
	</select>
	
	<!--스크랩 게시물 리스트 조회-->
	<select id="getScrapList" resultType="org.shiftworks.domain.ScrapVO">
		<![CDATA[
			select scrap_id,dept_id,emp_id,post_id,scrap_date,post_name,post_content,
			post_regdate, name
			from
				( select /*+INDEX_DESC(scrap scrap_pk) */
				  rownum rn, scrap_id,e.dept_id as dept_id,e.emp_id as emp_id,post_id,scrap_date,post_name,
				  post_content, post_regdate,e.name as name
				from scrap s JOIN employee e
				ON e.emp_id =s.emp_id 
				where
		]]>
			
		 <trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item='type' collection="typeArr" >
				<trim prefix="OR">
					<choose>
						<when test="type =='T'.toString()">
							post_name like '%'||#{keyword}||'%'
						</when>
						<when test="type =='C'.toString()">
							 post_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
	</trim> 
				
		<![CDATA[		
				rownum <=#{pageNum}*#{amount}
				and e.emp_id =#{emp_id}
				)
			where rn >(#{pageNum}-1)*#{amount}
			order by scrap_id desc
		]]>
		
	</select> 
	
	<!--스크랩 게시물 상세보기 -->
	<select id="getScrap" resultType="org.shiftworks.domain.ScrapVO">
		select * from Scrap where emp_id= #{emp_id} and post_id = #{post_id}
	</select>
	
	<!--부서문서함 리스트 조회-->
	<select id="deptSelectList" parameterType="String" resultType="org.shiftworks.domain.PostVO">
		<![CDATA[
			select post_id, b_id, dept_id, post_name, post_content, emp_id,
				post_regno, post_regdate, post_updatedate, post_fix, post_receivedept, name
			from
				( select /*+INDEX_DESC(post post_pk) */
				  rownum rn, p.post_id as post_id, b_id, p.dept_id as dept_id, post_name, post_content, p.emp_id as emp_id,
				  post_regno, post_regdate, post_updatedate, post_fix, post_receivedept, e.name as name
				from post p JOIN employee e
				ON e.emp_id =p.emp_id 
				where
		]]>
			
		 <trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item='type' collection="typeArr" >
				<trim prefix="OR">
					<choose>
						<when test="type =='T'.toString()">
							post_name like '%'||#{keyword}||'%'
						</when>
						<when test="type =='C'.toString()">
							 post_content like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
	</trim> 
				
		<![CDATA[		
				rownum <=#{pageNum}*#{amount}
				and e.emp_id =#{emp_id}
				
				)
			where rn >(#{pageNum}-1)*#{amount}
			order by post_id desc
		]]>
		
	</select> 
	
	<!--부서문서 게시물 상세보기-->
	<select id="deptSelect" parameterType="org.shiftworks.domain.PostVO" resultType="org.shiftworks.domain.PostVO">
		select * from post where post_receivedept=#{post_receivedept} and post_id =#{post_id}
	</select>	
	
	<!--결재문서 완료함 리스트 조회-->
	
	<!--결재문서 완료문서 상세보기-->
	
	
	<!-- 내가쓴 글 총 갯수 -->
	<select id="getTotalMyDoc" resultType="int">
		select count(*) from post where emp_id =#{emp_id}
	</select>
	
	
	<!-- 내가 스크랩한 글 총 갯수 -->
	<select id="getTotalScrap" resultType="int">
		select count(*) from post where emp_id =#{emp_id}
	</select>
	
	<!-- 해당 부서가 받은 총 글 개수-->
	<select id="getTotalDept" resultType="int">
		select count(*) from post where post_receivedept = #{post_receivedept}
	</select>

</mapper>