<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.EmployeeMapper">

	<resultMap type="org.shiftworks.domain.EmployeeVO" id="empMap">
		<id property="emp_id" column="emp_id"/>
		<result property="emp_id" column="emp_id"/>
		<result property="dept_id" column="dept_id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
		<collection property="authList" resultMap="deptMap"/>
	</resultMap>
	
	<resultMap type="org.shiftworks.domain.DepartmentVO" id="deptMap">
		<result property="dept_id" column="dept_id"/>
		<result property="authority" column="authority"/>
	</resultMap>


	<select id="read" resultMap="empMap">
		SELECT emp_id, e.dept_id as dept_id, password, name, authority
			FROM employee e JOIN department d
			ON e.dept_id = d.dept_id
			WHERE emp_id = #{emp_id}
	</select>
	
	<!--계정관리-->
	<!--전체 list-->
	<select id="getList" resultType="org.shiftworks.domain.EmployeeVO">
		select emp_id, dept_id, name, position ,mobile, internal from employee
	</select>
	
	<!-- 계정추가 -->
	<insert id="insert">
		insert into employee(emp_id, dept_id, position, birthday, name, mobile, internal, 
		email, address, entry_date, password) 
			values (#{emp_id}, #{dept_id}, #{position}, #{birthday}, #{name}, #{mobile}, #{internal}, 
			#{email}, #{address}, #{entry_date} ,#{password})
	</insert>
		<!-- 계정상세보기 -->
	<select id="detail" resultType="org.shiftworks.domain.EmployeeVO">
		select emp_id, dept_id, position, birthday, name, mobile, internal, 
		email, address, entry_date, resignation_date  from employee where emp_id = #{emp_id}
	</select>
		<!-- 계정삭제 -->
	<delete id="delete">
		delete from employee where emp_id = #{emp_id}
	</delete>
		<!-- 계정정보수정 -->
	<update id="update">
		update employee set dept_id=#{dept_id}, position=#{position}, mobile=#{mobile}, internal=#{internal}
		, address=#{address}, resignation_date=#{resignation_date} where emp_id=#{emp_id}
	</update>
	
	
</mapper>
