<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.ReceiverMapper">
	
	<!-- 메시지 수신자 관련 -->
	<select id="getReceiverList" resultType="org.shiftworks.domain.ReceiverVO">
		SELECT * FROM receiver
	</select>
	
	<!-- 수신자 모두 조회 -->
	
	<!-- 수신자 저장 : 메시지 전송시 수신자도 저장 -->
	<insert id="insertReceiver" parameterType="org.shiftworks.domain.ReceiverVO">
		INSERT INTO receiver(msg_id,emp_id, dept_id) 
		VALUES(#{msg_id}, #{emp_id}, #{dept_id})
	</insert>
	
	<!-- 읽음으로 변경 -->
	<update id="updateChecking" parameterType="org.shiftworks.domain.ReceiverVO">
		UPDATE receiver set checking = 'Y' where msg_id = #{msg_id} and emp_id = #{emp_id}
	</update>
	
</mapper>
