<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shiftworks.mapper.TaskMapper">

	<!-- 업무 등록 -->
	<insert id="insertTask">
		INSERT INTO task(task_id, dept_id, task_title,
		task_content, emp_id, t_private, notification, date_created)
		VALUES(task_seq.nextval, #{dept_id}, #{task_title},
		TO_CLOB(#{task_content}), #{emp_id},
		#{t_private}, #{notification}, sysdate)
	</insert>

	<!-- 업무 수정 -->
	<update id="updateTask">

		UPDATE task SET dept_id = #{dept_id},
		task_title = #{task_title},
		task_content = TO_CLOB(#{task_content}),
		t_private = #{t_private}
		WHERE task_id = ${task_id}

	</update>

	<!-- 업무 삭제 -->
	<delete id="deleteTask">

		DELETE FROM task
		WHERE task_id = #{task_id}

	</delete>


	<!-- 검색어 처리를 위한 쿼리 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 't'.toString()">
							task_title LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'c'.toString()">
							task_content LIKE '%'||#{keyword}||'%'
						</when>
						<when test="type == 'w'.toString()">
							name LIKE '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 부서 설정을 위한 쿼리 -->
	<sql id="selectedDept">
		<if test="dept_id != null">
			t.dept_id LIKE '%'||#{dept_id}||'%' AND
		</if>
	</sql>

	<!-- 검색 기능 포함 페이징처리 -->
	<select id="getListWithPaging"
		resultType="org.shiftworks.domain.TaskVO">

		<![CDATA[
		SELECT task_id, dept_id, dept_name, task_title, task_content, emp_id, name, t_private, date_created
			FROM (
				SELECT /*+INDEX_DESC (t task_pk) */
					ROWNUM rn, task_id, t.dept_id as dept_id, dept_name, task_title,
					DBMS_LOB.SUBSTR(task_content, 4000, 1) as task_content,
					t.emp_id as emp_id, name, t_private, date_created
	        	FROM task t JOIN employee e
	        	ON t.emp_id = e.emp_id
	        	JOIN department d
	        	ON e.dept_id = d.dept_id
	        	WHERE
		]]>

		<include refid="selectedDept" />
		<include refid="criteria" />

		<![CDATA[    
				ROWNUM <= #{pageNum} * #{amount})
			
			WHERE
			rn > (#{pageNum} -1) * #{amount}   
		]]>

	</select>


	<!-- 총 업무(게시글) 개수 -->
	<select id="getTotalTask" resultType="int">

		SELECT COUNT(*) FROM task t JOIN employee e
		ON t.emp_id = e.emp_id
		WHERE
		<include refid="selectedDept" />
		<include refid="criteria" />
		task_id > 0

	</select>

	<!-- 업무(게시글) 개별 조회 -->
	<select id="getTask" resultType="org.shiftworks.domain.TaskVO">

		SELECT task_id, t.dept_id as dept_id, dept_name, task_title, task_content,
		t.emp_id, name,
		t_private, notification, date_created
		FROM task t JOIN employee e
		ON t.emp_id = e.emp_id
		JOIN department d
		ON t.dept_id = d.dept_id
		WHERE task_id = #{task_id}

	</select>
	
	
	<!-- 알림 생성을 위한 부서원 조회 -->
	<select id="getDeptMember" resultType="org.shiftworks.domain.EmployeeVO">
	
		SELECT emp_id, dept_id
			FROM employee
			WHERE dept_id = #{dept_id}
	
	</select>
	
</mapper>